<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Concept</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <form class="needs-validation" #addConceptForm="ngForm" (ngSubmit)="createConcept(addConceptForm)">
          <!-- Concept Title & Category -->
          <div class="row">
            <!-- Concept Title -->
            <div class="col-md-6 mb-3">
              <label for="conceptTitle">Concept Title</label>
              <input type="text" class="form-control" id="conceptTitle" name="conceptTitle" [(ngModel)]="concept.conceptTitle" placeholder="Concept Title"
                value="" required>
              <div class="invalid-feedback">
                Valid title is required.
              </div>
            </div>

            <!-- Concept Index -->
          <div class="col-md-6 mb-3">
              <label for="conceptIndex">Concept Index</label>
              <input type="number" class="form-control" id="conceptIndex" name="conceptIndex" [(ngModel)]="concept.conceptIndex" placeholder="Concept Index"
                value="" required>
              <div class="invalid-feedback">
                Valid index is required.
              </div>
          </div>
          </div>

          <!-- Concept Video URL -->
          <div class="mb-3">
            <label for="conceptVideo">Concept Video
              <span class="text-muted">(Optional)</span>
            </label>
            <textarea type="text" class="form-control" id="conceptVideo" placeholder="Concept Video" name="conceptVideo"
              [(ngModel)]="concept.conceptVideo"></textarea>
          </div>
                    
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Add Concept</button>
        </form>
      </div>

    </div>
  </div>
</div>