<!-- Global Containers -->
<div *ngIf="loading">
  <!-- Title -->
  <div style="background-color:#e5e5e5;padding:15px;text-align:center;">
    <h1>{{concept.conceptTitle}}</h1>
  </div>

  <!-- Main Menu-->
  <div style="overflow:auto">
    <!-- Concepts List -->
    <div class="menu" *ngIf="loading">
      <h3>Lista de Conceptos</h3>
      <div *ngFor="let concept of concepts">
        <a [routerLink]="['/courses/course', courseKey, 'lesson', lessonKey, 'concept', concept.$key]">
          Concept #{{concept.conceptIndex}}
          <br>{{concept.conceptTitle}}
        </a>
      </div>  
    </div>

    <div class="main" *ngIf="loading">
        <iframe width="640" height="480" [src]="videoUrl()"></iframe>
    </div>
  </div>
</div>